nav {
  display: flex;
  color: black;
  gap: 20px;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

nav img {
  width: 120px;
  height: 30px;
  cursor: pointer;
}

nav section {
  display: flex;
  gap: 10px;
  align-items: center;
  font-family: karla;
  font-weight: bold;
  font-size: 14px;
}

button {
  cursor: pointer;
}
