nav {
  display: flex;
  width: 60%;
  color: black;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: karla;
  font-weight: bold;
  font-size: 1vw;
}

nav img {
  width: 30%;
  height: auto;
  cursor: pointer;
}

button {
  cursor: pointer;
}
