.reservation {
  box-shadow: 15px 15px 30px 2px rgb(0, 0, 0);
  background-color: rgba(67, 81, 76, 0.5);

  height: 80%;
  width: 80%;
  align-items: center;
  flex-direction: column;
  color: white;
}

.form {
  width: 100%;
  font-family: karla;
}

.form label {
  font-size: clamp(20px, 2vw, 24px);
}

.custom {
  display: flex;
  background-color: lightgray;
  color: #495e57;
  width: 170px;
  height: 30px;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
  padding-left: 10px;
  cursor: pointer;
}
